.review_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  padding: 0 45px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.review_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 25px;
}