.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  box-shadow: 0px 4px 10px 0px #27283108;
  background: #FFFFFF;
  padding: 100px 20px 40px;
}

.card_text {
  font-family: Neutrif Pro;
  letter-spacing: 0em;
  text-align: center;
}

.card_title {
  font-size: 20px;
  line-height: 25px;
  color: #272831;
}

.card_description {
  font-size: 14px;
  line-height: 18px; 
  color: #9193A9;
}

.card_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: #FD5359;
  font-size: 18px;
  line-height: 20px;
}