.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 4px 10px 0px #27283108;
  background: #FFFFFF;
  width: 90%;
  max-width: 1200px;
  padding: 60px;
  margin-bottom: 60px;
}

.contact_title {
  color: #27AE60;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}

.contact_firstDescr {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;   
  color: #272831; 
}

.contact_secondDescr {
  color: #9193A9;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;  
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.contact_form_textarea {
  resize: none;
  width: 600px;
  height: 200px;
  border-radius: 3px;
  border: 1px;
  border: 1px solid #D6D7E1;
  color: #c4c4cb;
}